<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Vedit Patel">
    <title> Task Tracker</title>
    <link rel="stylesheet" href="CSS/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>

    <body ng-controller="mainController">
    <div id="container">
        <header>
            <h1 class="title">Task Tracker</h1> </header>
        <div id="left-pane">
            <h2 class="title2">Create a Task</h2>
            <form id="form" action="" method="post">
                <p>
                    <label> Task Name
                        <br>
                        <input type="text" ng-model="formModel.name" id="name" placeholder="Your name"> </label>
                </p>
                <p>
                    <label> Date
                        <br>
                        <input type="date" ng-model="formModel.date" id="inputDate"> </label>
                </p>
                <p>
                    <label> Assigned To
                        <br>
                        <input type="text" ng-model="formModel.assigned" id="assignedTo" placeholder="Assigned name"> </label>
                </p>
                <br>
                <input type="button" id="submit" name="submit_tag" value="submit" ng-click="onSubmit()"> </form> <!--<pre>{{formModel | json}}</pre>-->
        </div>
        <div id="right-pane">
            <h2 class="title2">Existing Tasks</h2>
            <table id="table">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Date</th>
                        <th>Assigned To</th>
                    </tr>
                    <tr ng-repeat="item in myData">
                        <td>{{item.name}}</td>
                        <td>{{item.date | date: "MM/dd/yyyy"}}</td>
                        <td>{{item.assigned}}</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!-- Modules -->
     <script src="JS/app.js"></script>
    <!-- Controllers -->
    <script src="JS/Controllers/mainController.js"></script>
</body>

</html>
